In [40]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_data=pd.read_csv(city_data_to_load)
ride_data=pd.read_csv(ride_data_to_load)


# Combine the data into a single dataset
combined_data = pd.merge(city_data, ride_data, on="city")


# Display the data table for preview
combined_data.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850

In [53]:
# combined_data ["Average Fare per city"] = combined_data ["fare"].mean()
# combined_data.head()

In [54]:
# combined_data ["Total rides per city"] = combined_data ["ride_id"].count()
# combined_data.head()

In [55]:
# combined_data ["Total drivers per city"] = city_data ["driver_count"].count()
# combined_data.head()

In [56]:
# city_type_group = combined_data[["city", "type", "Average Fare per city", "Total rides per city", "Total drivers per city"]]
# nodupes_city_types = city_type_group.drop_duplicates(subset= "city", keep="first")
# nodupes_city_types.head(100)

In [45]:
# avg_fare_per_city = combined_data.groupby("city").mean()["fare"]
# avg_fare_per_city.head()

In [57]:
total_rides_per_city = combined_data.groupby("city").count()["ride_id"]
total_rides_per_city.head()

city
Amandaburgh      18
Barajasview      22
Barronchester    16
Bethanyland      18
Bradshawfurt     10
Name: ride_id, dtype: int64

In [59]:
total_drivers_per_city = city_data.groupby("city").sum()["driver_count"]
total_drivers_per_city.head()

city
Amandaburgh      12
Barajasview      26
Barronchester    11
Bethanyland      22
Bradshawfurt      7
Name: driver_count, dtype: int64

In [60]:

city_type_group = combined_data[["city", "type", "fare"]].groupby(["city", "type"])
avg_city_type = city_type_group.mean()
avg_city_type.reset_index(inplace=True)
avg_city_type.head()

# city_type_df = combined_data[["city", "type"]]
# city_type_df.head()

#type_groups = city_data[["city", "type"]]
#type_groups.head()

# type_totals = combined_data.groupby("city").count()["type"]
# type_totals.head()

            city      type       fare
0    Amandaburgh     Urban  24.641667
1    Barajasview     Urban  25.332273
2  Barronchester  Suburban  36.422500
3    Bethanyland  Suburban  32.956111
4   Bradshawfurt     Rural  40.064000

In [49]:
avg_city_type ["Total Rides per city"] = combined_data.groupby("city").count()["ride_id"]
avg_city_type.head()

            city      type       fare  Total Rides per city
0    Amandaburgh     Urban  24.641667                   NaN
1    Barajasview     Urban  25.332273                   NaN
2  Barronchester  Suburban  36.422500                   NaN
3    Bethanyland  Suburban  32.956111                   NaN
4   Bradshawfurt     Rural  40.064000                   NaN

In [51]:
# summary_df = pd.DataFrame({
#     "Average Fare": avg_fare_per_city,
#     "Total Rides per city": total_rides_per_city,
#      "Total Drivers per city": total_drivers_per_city,
# #        "City Type": type_groups
# })
# summary_df.head()

## Bubble Plot of Ride Sharing Data

In [52]:
# Obtain the x and y coordinates for each of the three city types
summary_df.plot(kind="scatter", x="total_rides_per_city", y="avg_fare_per_city", grid=True, figsize=(8, 8), 
                title="Pyber Ride Sharing Data 2016")

# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend
plt.legend(handles=[type_groups], loc="best")


# Incorporate a text label regarding circle size
city_chart.set_xlabel("Total number of rides per city")
city_chart.set_ylabel("Average fare")

# Save Figure
plt.savefig("../Images/city_type_data.png")

KeyError: 'total_rides_per_city'

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents


# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()